html{
    background-color:#2F2F2F;
}
 
body, #mainWrapper {
    height: 100%;
    background-image: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0, #EDEDED),
    color-stop(0.08, #EAEAEA),
    color-stop(1, #2F2F2F),
    color-stop(1, #AAAAAA)
);
background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
}
 
body, #mainWrapper, .form-control{
    font-size:12px!important;
}
 
#mainWrapper {
    height: 100vh; 
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}
 
#authHeaderWrapper{
    clear:both;
    width: 100%;
    height:3%;
    padding-top:5px;
    padding-bottom:5px;
}
 
.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}
 
.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}

.center-elements{
    text-align: center;
}

a{
    cursor: pointer;
}

/*Attribute option form*/
/*.options-row-header,.options-row-body{
    display: none;
}*/

/*Side Menu*/
.sidebar i.fa{
    margin-right: 10px;
}

/*Configuration File form*/
#nameRow{
    pointer-events: none;
}

/*Rules Management*/
.parameter-container,.blocked-container,#id-blocked-container{
    height: 300px;
    overflow: scroll;
}

.blocked-container{
    min-width: 150px;
}

.action-container{
    vertical-align: middle !important;
    width: 165px;
}

.parameter-item:hover,.id-parameter-item:hover{
    cursor: pointer;
}

/*Configuration files template*/
.tmpl-page-delete-edit-group-buttons{
    text-align: right;
}
.tmpl-page-group-header{
    color: white;
}
td.config-file-temp-action-column{
    min-width: 80px;
}

.cfa-state{
    margin: 0 !important;
}

.attribute-description{
    padding-left: 5px;
}

.popover-title,.popover-content{
    color: black;
}


/*User History*/
.user-history-description{
    max-height: 155px;
    overflow: auto;
}

.filter-title{
    padding-left: 15px;
    display: inline;
}

.table-filtered{
    max-height: 325px;
}

/*GENERAL*/
h1{
    margin: 10px 0 10px 0 !important;
}

.message-status-container{
    position: relative;
    top: 10;
    height: 60px;
}

.cfa-state{
    padding:6px !important; 
}

.filters-containers>.row>div>p>input{
    float:right;
}

table.vertical-middle-table>tbody>tr>td,table.vertical-middle-table>tbody>tr>th,table.vertical-middle-table>thead>tr>th{
    vertical-align: middle;
    text-align: center;
    max-width: 65px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap; 
    
}

table.vertical-middle-table>tbody>tr>td>p{
    overflow: hidden;
    text-overflow:ellipsis;
}

.disable-anchor, .disable-anchor :hover{
    text-decoration: none !important;
    color: black !important;
    cursor: pointer !important;
}
